{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Anchuricas</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, dolor maiores labore, nihil autem officia doloremque voluptatum dolores mollitia, blanditiis ullam. Sunt cum consequatur repellat deleniti nulla ea impedit doloribus?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/anchuricas.jpeg" class="img-thumbnail">
    </div>


</div>

{{> footer }}